html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
}
html * {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  font-family: sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

fieldset, img {
  border: 0;
}

em, i, strong {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul, ol {
  list-style: none;
}

del {
  text-decoration: line-through;
}

input, button, textarea, select {
  font-size: 100%;
  border: none;
  background: none;
  -webkit-appearance: none;
}

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: 0 none;
}

a {
  text-decoration: none;
  color: #666;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

:-moz-placeholder {
  color: #999;
}

@media only screen and (max-width: 359px) {
  html {
    font-size: 12px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
  html {
    font-size: 13.5px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 399px) {
  html {
    font-size: 14.0625px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 479px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 539px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 540px) and (max-width: 639px) {
  html {
    font-size: 20.25px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 720px) and (max-width: 749px) {
  html {
    font-size: 27px;
  }
}
@media only screen and (min-width: 750px) {
  html {
    font-size: 28.125px;
  }
}
body {
  width: 0.99556rem;
  height: 1rem 2rem;
  background: red;
  color: red;
  width: 2.08333rem;
  padding: 0.35556rem 0.71111rem auto 2.48889rem;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}

.cursglv1, .cursglv2, .cursglv3, .cursglv4, .cursglv5, .cursglv6, .cursglv7-active, .cursglv7, .cursglv7:active, div {
  background: url('../images/cur-s489e1a93ad.png');
  background-size: 2.70222rem 26.02667rem;
  background-repeat: no-repeat;
}

.cursglv7:active {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 85.71429%;
}
.cursglv1 {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 0;
}

.cursglv2 {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 14.28571%;
}

.cursglv3 {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 28.57143%;
}

.cursglv4 {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 42.85714%;
}

.cursglv5 {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 57.14286%;
}

.cursglv6 {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 71.42857%;
}

.cursglv7-active {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 85.71429%;
}

.cursglv7 {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 100%;
}

div {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 0;
}
div span, div s {
  background: url('../images/cur2-s6412a0ab99.png');
  background-size: 2.70222rem 21.90222rem;
  background-repeat: no-repeat;
}
div span {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 16.66667%;
}
div s {
  width: 2.70222rem;
  height: 3.12889rem;
  background-position: 0 33.33333%;
}

/*# sourceMappingURL=style.css.map */
