$rem-base: 27;// or 720
$Response:true;
@import "compass", "mobile-mixin";
body {
    width: rem-calc(28);
    height: rem-calc(12 24, 12);
    background: red;
    color: red;
}

@include rem-sprites("cur/*.png",$pre-name:A,$spacing:4px,$line-image:true);

// div{
// 	@include rem-sprite("cur/*.png",lv1,$rem-base:360,$line-image:true);
// 	span{
// 		@include rem-sprite("cur2/*.png",lv2);
// 	}
// 	s{
// 		@include rem-sprite("cur2/*.png",lv3);
// 	}
// }
